.label-modal {
    font-size: 20px;
}

.warning {
    display: block;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

#verPas {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 20px auto 0;
}

.CB {
    margin-left: 10px;
}

#botModal {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

prueba {
    visibility: hidden;
}

#vistaPrevia {
    --padding-top: -75px;
}

.login-modal {
}
